#

colorama==0.4.6
    # via
    #   click
    #   tqdm
flask==2.2.2
    # via -r requirements.in
google-generativeai==0.7.2
    # via -r requirements.in
googleapis-common-protos==1.63.2
    # via
    #   google-api-core
    #   grpcio-status

proto-plus==1.24.0
    # via
    #   google-ai-generativelanguage
    #   google-api-core
protobuf==4.25.3
    # via
    #   google-ai-generativelanguage
    #   google-api-core
    #   google-generativeai
    #   googleapis-common-protos
    #   grpcio-status
    #   proto-plus
sqlalchemy==2.0.30
    # via -r requirements.in
werkzeug==2.2.3
    # via flask
PyMySQL==1.1.1
